.container
  .row#v2.row-centered
    .col-lg-4.col-lg-offset-0.col-md-5.col-md-offset-1.col-sm-6.col-xs-12
      %figure 
        %a{ href:"//fiddystates.herokuapp.com/", target:"_blank" } 
          = image_tag('./fiddyStates.png', alt:"")
        %figcaption
          %h3 JavaScript App
          %p A web app built in raw JavaScript that utilizes an MVC framework.
          .gitDiv
            %p 
              %a.gitLink{ href:"//github.com/antonmaximus/states", target:"_blank" } 
                %i.fa.fa-github.fa-2x
                View Code on GitHub
          %p.tags
            %span JavaScript
            %span No jQuery
            %span AJAX
            %span JSON
            %span PHP
            %span MVC

    .col-lg-4.col-md-5.col-sm-6.col-xs-12
      %figure 
        %a{ href:"//antonmaximus.github.io/improvmastersproject/build/", target:"_blank" } 
          = image_tag('./improvMasters.png', alt:"")
        %figcaption
          %h3 Development &amp; Design
          %p A site built on Twitter Bootstrap, utilizes Google Docs as a backend for its JSON, and incorporates various design techniques.
          .gitDiv
            %p 
              %a.gitLink{ href:"//github.com/antonmaximus/improvmastersproject", target:"_blank" } 
                %i.fa.fa-github.fa-2x
                View Code on GitHub
          %p.tags
            %span Twitter Bootstrap
            %span jQuery
            %span HTML5
            %span CSS3
            %span Google Docs as backend
            %span JSON
            %span Design

    .col-lg-4.col-md-5.col-sm-6.col-centered.col-xs-12
      %figure 
        .topSecret
          %span [Coming Soon]
          = image_tag('./errorPage.png', alt:"")
        %figcaption
          %h3 Django Project
          %p A site utilizing Django.
          %p.tags

