---
title: Anton
body_class: index
---

%header
  .welcome
    %svg{ width:"220px", height:"220px", viewBox:"0 0 600 600" }
      %a{"xlink:href"=>"#portfolio", class:"scrollToPortfolio"}
        %g{ id:"logo"}
          %path{ class:"colorChange", d:" m280,599.39c-125.8-7.42-240.47-102.31-270.32-224.93-28.694-106.47,8.4638-226.76,92.058-298.64,92.75-85.558,241.57-100.14,349.3-34.483,96.561,55.633,157.12,167.79,147.98,279.22-6.7902,126.16-102.88,240.41-225.5,270.03-30.436,8.3484-62.141,9.575-93.514,8.8098zm54.5-65.826c45.425-7.1671,89.227-26.827,123.34-57.874-14.46-39.37-34.63-76.77-51.78-115.19h-212.26c-17.102,38.418-37.276,75.804-51.655,115.18,51.412,46.954,123.71,67.499,192.35,57.89zm-156.58-290.31c27.24-58.46,54.47-116.92,81.72-175.37-92.98,13.406-171.08,90.067-190.15,181.6-12.106,56.82-3.539,118.37,26.216,168.52,28.004-57.96,54.904-116.46,82.214-174.75zm334.08,160.5c46.07-91.16,23.69-210.72-53.02-278.46-32.92-30.188-74.84-50.113-118.71-57.852,53.98,117.17,108.65,234.03,163.99,350.56,3.1253-4.4367,5.2755-9.4414,7.7324-14.25zm-137.31-110.5c-25-53.04-49.18-106.47-74.73-159.25-25.594,53.31-50.553,107.13-75.123,160.8,50.237,2.4509,100.82,0.68771,151.21,1.1985l-0.75117-1.5187-0.60901-1.2313z" } 
      %h1 Anton
      %p.doc I develop and prettify things. 



%main#portfolio
  %ul.nav.nav-pills
    %li.active
      %a.spin{'data-toggle'=>'pill', href:'#sectionA'} 
        %span Web
        %span Web
    / %li.filler &#8226;
    %li
      %a.spin{'data-toggle'=>'pill', href:'#sectionB'} 
        %span Animation
        %span Animation
    / %li.filler &#8226;
    %li
      %a.spin{'data-toggle'=>'pill', href:'#sectionC'} 
        %span C++
        %span C++
  .tab-content
    .tab-pane.fade.in.active#sectionA
      %ul.aj-sites
        %li
          .plane
            .imageLink
              %a{ href:"//fiddystates.herokuapp.com/", target:"_blank" } 
                = image_tag('./fiddyStates.png', alt:"")
            .info
              %h3 State Information
              %p A web app that allows AJAX autocomplete for each letter input. All Functionalities built in raw JavaScript.
              %p 
                %a.gitLink{ href:"//github.com/antonmaximus/states#readme", target:"_blank" } 
                  %i.fa.fa-github.fa-2x
                  View Code on GitHub
              %p.tags
                %span JavaScript
                %span No jQuery
                %span AJAX
                %span JSON
                %span PHP
                %span MVC
        %li
          .plane
            .imageLink.topSecret
              %span [Coming Soon]
              = image_tag('./errorPage.png', alt:"")
            .info
              %h3 Improv Masters
              %p A static informational website built with modern front-end framework.
              / %p 
              /   %a.gitLink{ href:"//github.com/antonmaximus/states#readme", target:"_blank" } 
              /     %i.fa.fa-github.fa-2x
              /     View Code on GitHub
              %p.tags
                %span Twitter Bootstrap
                %span HTML5
                %span CSS3
                %span jQuery

    .tab-pane.fade#sectionB
      .carouselWrapper
        .carousel.slide#myCarousel{ data:{ ride:'carousel', interval:'2300' } }
          / Carousel Indicators
          %ol.carousel-indicators
            / Looping elements for the dropdown sub-menu
            - (0..4).each do |i|
              - @active = i==0 ? 'active' : ''
              %li{ class:@active, data:{ target:'#myCarousel', slide:{to: i } } }
          .carousel-inner
            - @alt = ['Fufu', 'Savage Oppress', 'Super Ace & Killer', 'Nite Owl', 'Bob']
            - @path = ['fufu', 'savageOppress', 'killerSuperAceHighFive', 'deathWatchNiteOwl', 'bob']
            - @alt.zip(@path).each do |varAlt, varPath|
              .item{ class: varPath=='fufu' ? 'active' : '' }
                = image_tag('carousel/450_'+varPath+'.png', alt:varAlt)
          %a.carousel-control.left{ href:'#myCarousel', 'data-slide'=>'prev' }
            %span.glyphicon.glyphicon-chevron-left
          %a.carousel-control.right{ href:'#myCarousel', 'data-slide'=>'next' }
            %span.glyphicon.glyphicon-chevron-right

    .tab-pane.fade#sectionC
      .objectWrapper
        .videoWrapper
          %iframe.youtube-player{ type:'text/html', allowfullscreen:true, src:'//www.youtube.com/embed/DR_7Y5M9ORE?wmode=transparent&amp;autoplay=0&amp;rel=0&amp;showinfo=0&amp;autohide=1&amp;color=white&amp;'}

%footer
  %ul
    %li
      %a{ id:'emailako', href:'//www.linkedin.com/in/anton23', alt:'email' }
        %i.fa.fa-envelope-o.fa-3x
        %span Email
    %li
      %a{ href:'//www.linkedin.com/in/anton23', alt:'LinkedIn', target:'_blank' }
        %i.fa.fa-linkedin-square.fa-3x
        %span Resume
    %li
      %a{ href:'//blog.anton23.com', alt:'Blog', target:'_blank' }
        %i.fa.fa-pencil-square-o.fa-3x
        %span Blog
    %li
      %a{ href:'//twitter.com/antonmaximus', alt:'Twitter', target:'_blank' }
        %i.fa.fa-twitter.fa-3x
        %span Twitter
